<!-- Footer -->
<footer class="footer bg-primary text-white pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3">
        <h5>Follow Us</h5>
        <div>
          <a href="https://www.facebook.com/people/MVM-English-Medium-School/100039991346064/" target="_blank" class="text-white me-3">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.instagram.com/YOUR_HANDLE" target="_blank" class="text-white me-3">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.youtube.com/@YOUR_CHANNEL" target="_blank" class="text-white me-3">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="https://twitter.com/YOUR_HANDLE" target="_blank" class="text-white">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
      <div class="col-md-6 text-md-end text-center">
        <h5>Contact Us</h5>
        <p class="mb-0">
          College Road, Belagavi – 590001, Karnataka, India<br>
          Phone: +91 08312433117 • +91 XXXXXXXX<br>
          <a href="mailto:mvmemsbgm@gmail.com" class="text-white">mvmemsbgm@gmail.com</a>
        </p>
      </div>
    </div>
  </div>
  <div class="bg-dark text-center py-2" style="margin-bottom: -30px;">
    © 2025 Mahila Vidhyalaya Mandal's English Medium School. All rights reserved.
  </div>
</footer>