<header class="bg-white shadow-sm">
  <div class="container py-2 d-flex flex-wrap align-items-center justify-content-between">
    <a href="index.html" class="d-flex align-items-center text-decoration-none">
      <img src="images/logo.png" alt="School logo" width="60" class="me-2">
      <span class="fs-5 fw-semibold text-primary">Mahila Vidhyalaya Mandal’s EMS</span>
    </a>
    <form class="d-none d-md-flex" role="search">
      <input class="form-control form-control-sm me-2" type="search" placeholder="Search the site…">
      <button class="btn btn-sm btn-outline-primary" type="submit">Search</button>
    </form>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="about.html" id="aboutDropdown" role="button"  aria-haspopup="true" aria-expanded="false">
              About Us
            </a>
            <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
              <li><a class="dropdown-item" href="about-history.html">School History</a></li>
              <li><a class="dropdown-item" href="about-vision.html">Mission & Vision</a></li>
              <li><a class="dropdown-item" href="staff.html">Teachers & Staff</a></li>
              <li><a class="dropdown-item" href="about-management.html">Management</a></li>
              <li><a class="dropdown-item" href="about-achievers.html">Achievers</a></li>
            </ul>
          </li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="academics.html" id="academicsDropdown" role="button"   aria-haspopup="true" aria-expanded="false">
    Academics
  </a>
  <ul class="dropdown-menu" aria-labelledby="academicsDropdown">
    <li><a class="dropdown-item" href="academics-admissions.html">Admissions</a></li>
    <li><a class="dropdown-item" href="academics-curriculum.html">Curriculum</a></li>
    <li><a class="dropdown-item" href="academics-culture.html">School Culture & Traditions</a></li>
    <li><a class="dropdown-item" href="academics-facilities.html">School Facilities</a></li>
    <li><a class="dropdown-item" href="academics-calendar.html">Academic Calendar</a></li>
  </ul>
</li>


          <li class="nav-item"><a class="nav-link" href="activities.html">Activities</a></li>
          <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
          <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
